/*font-family: 'Nunito Sans', sans-serif;*/
/*font-family: 'Open Sans', sans-serif;*/

:root {
    --c-main: red;
    --c-additional: #28272C;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 1088px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}